<!-- Provide templates in this directory -->
{{#if ctEVT}}
<h2>Events available on destination area</h2>
<hr/>
<table border="1">
    <tr>
        <td>
            Event
        </td>
        <td>
            Date
        </td>
        <td>
            Place
        </td>
        <td>
            Shop
        </td>
    </tr>

    <tr>
        <td>
            RockIN Concert
        </td>
        <td>
            From Apr-Jul
        </td>
        <td>
            Worldwide stadium
        </td>
        <td>
            <input type="button" value="Details/Shop"/>
        </td>
    </tr>
    <tr>
        <td>
            Grand Slam season
        </td>
        <td>
            From Jul-Aug
        </td>
        <td>
            Worldwide stadium
        </td>
        <td>
            <input type="button" value="Details/Shop"/>
        </td>
    </tr>
</table>
{{/if}}
{{#if ctDEV}}
<H1>Decision support Widget</H1>
<p>Analisys over the itinerary to present options relevant to support / compliment the shopping decision</p>
<p>Data available to Module Widget :</p>
<p>{{tplData}}</p>
<hr/>
<p>{{svcData}}</p>
{{/if}}
{{#if ctCO2}}
<table>
    <tr>
        <td>
            Flights
        </td>
        <td>
            CO2 Emissions (ton/pax)
        </td>
    </tr>
    <tr>
        <td>
            1 JJ 3342:
        </td>
        <td>
            <span style="background-color: blue;" width="80%">&nbsp;</span>
        </td>
    </tr>
</table>
{{/if}}
