
{{#if getClientID}}
<div class="dn-container">
    <div class="row">
        <div class="col-sm-12">

            <div class="common-input-field" ><label>Corporate ID<span class="text-muted"> (optional)</span></label><div class="form-group"><input placeholder="Corporate ID" class="txt-corp-id simple-text form-control" ><span class="help-block "></span></div></div>
        </div>
    </div>

    <div class="row">
            <div class="col-sm-12">
    
                <div class="common-input-field" ><label>Account Code<span class="text-muted"> (optional)</span></label><div class="form-group"><input placeholder="Account Code" class="txt-account-code simple-text form-control" ><span class="help-block "></span></div></div>
            </div>
        </div>

</div>
{{else}}
<p>The Manual Extension Workflow allow the end user to alter the flow continuity and also to gather data to modify the Shopping request</p>

{{/if}}