<form>
    <div class="flight-field form-group col-xs-6">
        <label>{{_t 'Flight'}}</label>
        <input type="text" id="{{new-random 'flight-field'}}"
               class="not-empty form-control input-form flight-field-cl"
               value={{flight}}>
    </div>

    <div class="ticket-field form-group col-xs-6">
        <label>{{_t 'Ticket'}}</label>
        <input type="text" id="{{new-random 'ticket-field'}}"
               class="not-empty form-control input-form ticket-field-cl"
               value="01D3">
    </div>

    <div class="name-field form-group col-xs-6">
        <label>{{_t 'Name'}}</label>
        <input type="text" id="{{new-random 'name-field'}}"
               class="not-empty form-control input-form name-field-cl"
               value="-DOE/JOHN">
    </div>

    <div class="agentinfo-field form-group col-xs-6">
        <label>{{_t 'Agent Info'}}</label>
        <input type="text" id="{{new-random 'agent-info-field'}}"
               class="not-empty form-control input-form agentinfo-field-cl"
               value="6AGENT">
    </div>

    <div class="phone-field form-group col-xs-6">
        <label>{{_t 'Phone'}}</label>
        <input type="text" id="{{new-random 'phone-field'}}"
               class="not-empty form-control input-form phone-field-cl"
               value="91234567">
    </div>

    <div class="taw-field form-group col-xs-6">
        <label>{{_t 'Ticketing time limit'}}</label>
        <input type="text" id="{{new-random 'taw-field'}}"
               class="not-empty form-control input-form taw-field-cl"
               value="7TAW/">
    </div>
</form>
